@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
  font-family: 'Druk Wide';
  src: local('Druk Wide'), url(/public/fonts/Druk\ Wide\ Bold.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  position: relative;
}

body {
  position: relative;
  background: url(../public/background.png) no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
 
  
  opacity: 1;
}
body::after{
  content: "";
  background-color: rgba(31, 35, 38, 0.7);
  position: absolute;
  
}
/* body::before{
  content: '';
  width: 333.93px;
  height: 261.06px;
  background: #FF4656;
  top: 150px;
  left: 80px;
  filter: blur(250px);
  
  transform: rotate(-47.56deg);
  box-shadow: -100px 800px 0  15px #FF4656,
  0px 0px 0  35px #FF4656,
  -100px 900px 0  15px #FF4656,
  1200px 1100px 0  5px #FF4656,
  1100px 1100px 0  5px #FF4656,
  1130px 1100px 0  45px #FF4656,
   1200px 1100px 0  25px #FF4656
} */

body,
input,
button,
p,
textarea {
  font-size: 1.4rem;
  color: black;
}
ul,
a {
  text-decoration: none;
  list-style: none;
}

input:focus {
  outline: none;
}

input:hover {
  border-color: inherit;
}
